@model DataLayer.HotTours
<style type="text/css">
    .order_form {
    margin-left:50px;
    margin-top:20px;
    margin-bottom:20px;
    }   
</style>
<div class="content_background">

    @*<div class="order_form">
        <h3>Заказ тура</h3>
        <form method="post" action="/Tour/AddToCart">

            <table>
                <tr><td><input type="hidden" name="id" value="@Model.Id"></td></tr>
                <tr>
                    <td><p>Ваше имя</p></td>
                    <td><input type="text" class="form_text" name="Name" /></td>
                    
                </tr>
                <tr>
                    <td><p>Телефон </p></td>
                    <td><input type="text" class="form_text" name="Phone" /> </td>
                    
                </tr>
                <tr>
                    <td><p>E-mail</p></td>
                    <td><input type="text" class="form_text" name="mail_adress" /></td>
                </tr>
                <tr><td><button type="submit" class="btn btn-success">Заказать</button></td><td></td></tr>
            </table>
        </form>
    </div>*@
</div>
@using (Html.BeginForm("AddToCart", "Tour", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <legend>Оформление тура</legend>
     <form class="form-horizontal" role="form">
         <input type="hidden" name="id" value="@Model.Id">
         <label>Имя</label>
         <input type="text" placeholder="Name" name="Name">
         <label>Телефон</label>
         <input type="text" placeholder="Name" name="Name">

    </form>