html {
    height: 100%;
}

body {
    min-height: 100%;
    width: 100%;
    height: 100%;
}

body {
    /*background: url(bg4.jpg);
                background-size: 1920px 1200px;
                background-position: center -px;
                background-repeat: no-repeat;*/
}

.wrapper {
    width: 1024px;
    margin: 0 auto;
    min-height: 100%;
    height: auto;
}

.header {
    position: relative;
}

.sub {
    position: absolute;
    left: 640px;
    background-image: url("/Content/Images/sub2.png");
    height: 80px;
    width: 80px;
}

.logo {
    position: absolute;
    left: -15px;
}

    .logo img {
        height: 140px;
    }

.header .label {
    position: absolute;
    top: 20px;
    left: 240px;
    color: orange;
    text-transform: uppercase;
    font-size: 20px;
}

    .header .label span {
        font-weight: bold;
        letter-spacing: 3px;
        font-size: 26px;
        margin-top: 5px;
        display: block;
    }

.header .order {
    position: absolute;
    top: 20px;
    right: 20px;
}

    .header .order a {
        text-decoration: none;
    }

.subscribe_button {
    position: absolute;
    background-image: url("/Content/Images/new_sub.png");
    margin-left: 940px;
    margin-top: 25px;
}

    .subscribe_button img {
        height: 40px;
        width: 40px;
    }

.sub-menu {
    display: none;
}

    .main-item:focus ~ .sub-menu,
    .main-item:active ~ .sub-menu,
    .sub-menu:hover {
        display: block;
    }

.header .order_button {
    width: 206px;
    padding: 0 0 3px;
    background: url(http://lazy-tour.by/wp-content/themes/lazy_tour/img/order-link.png);
    color: #ffffff;
    text-align: center;
    line-height: 50px;
    font-size: 24px;
    font-weight: bold;
    font-family: 'PT Sans', sans-serif;
    text-shadow: 1px 1px 1px #000;
}

.header .social {
    position: absolute;
    top: 23px;
    left: 580px;
}

    .header .social .icon {
        float: left;
        margin-left: 10px;
        width: 48px;
        height: 48px;
        background-size: 212px auto;
        background-image: url("/Content/Images/icons.png");
    }

.icon.vk {
    background-position: 0 0;
}

.icon.fb {
    background-position: 158px 0;
}

.icon.tw {
    background-position: 316px 0;
}

.bg {
    background: url("/Content/Images/relax1.jpg");
    background-size: 1920px 1200px;
    /*background-position: -36px -334px;*/
    background-position: -15px -345px;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 2000px;
    opacity: 0.6;
    z-index: -1;
}

.block {
    position: relative;
    height: 250px;
    border-radius: 20px;
    border: 1px solid #ffffff;
    overflow: hidden;
}

.string {
    background-color: yellow;
    border-radius: 20px;
    border: 1px solid #ffffff;
    overflow: hidden;
}

.block_bg {
    position: absolute;
    width: 100%;
    height: 100%;
    /*background: url("/Content/Images/bg5.jpg");*/
    background-size: 1920px 1200px;
    background-repeat: no-repeat;
    background-position: -456px -497px;
    /*background-position: -478px -496px;*/
    opacity: 0.7;
    z-index: -1;
}

.content {
    padding-bottom: 100px;
}

.content_background {
    background-color: rgba(255, 255, 255, 0.9);
    height: auto;
    /*padding-bottom: 100px;*/
}

.header .order_button a {
    text-decoration: none;
}

#tour_search_module * .extended_package_search_form .frame_block .itt_main_background {
    height: 215px !important;
}

.nav {
    float: right;
    margin-top: 150px;
    white-space: nowrap;
}

    .nav a {
        color: black;
        height: 36px;
        line-height: 36px;
        padding: 0 13px;
        font-family: 'Courier New' bold;
        font-size: 100%;
        text-decoration: none;
        display: inline-block;
    }

        .nav a:hover {
            background-color: #fa5912;
        }

.down_tick {
    background-image: url(~/Content/Images/down-tick.png);
}

.nav .item {
    display: inline-block;
    overflow: hidden;
    background: #ffe6b5;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border: 1px solid #ffffff;
    border-bottom: 0 none;
    margin-left: 16px;
    font-size: 12px;
    font-family: Courier;
}

    .nav .item a {
        text-decoration: none;
    }

.features {
    width: 500px;
}

.mod {
    position: absolute;
    display: inline-block;
    margin-top: 15px;
    margin-left: 15px;
}

.block .feature {
    position: relative;
    display: inline-block;
    font-family: 'Courier New' bold;
    font-size: 85%;
    font-weight: 700;
    text-shadow: 0 -1px rgba(0,0,0,.1);
    text-decoration: none;
    user-select: none;
    padding: .3em 1em;
    outline: none;
    border: none;
    border-radius: 3px;
    background: #808080 linear-gradient(#d7cbcb, #ceb0b0);
    /*box-shadow: inset #72de26 0 -1px 1px, inset 0 1px 1px #98ff98, #3caa3c 0 0 0 1px, rgba(0,0,0,.3) 0 2px 5px;*/
    -webkit-animation: pulsate 1.2s linear infinite;
    animation: pulsate 1.2s linear infinite;
    float: left;
    width: 135px;
    height: 100px;
    border-radius: 20px;
    border: 1px solid #FFF;
    margin-left: 30px;
    margin-top: 20px;
    overflow: hidden;
    padding: 25px;
    text-align: center;
    opacity: 0.9;
    padding-left: 5;
}

.block .feature_bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ffffff;
    opacity: 0.7;
    z-index: -1;
    top: 0;
    left: 0;
}

.block .feature a {
    color: black;
    text-decoration: none;
}

.block .feature:hover .feature_bg {
    background-color: #aca7a7;
}

.block .countries_wrapper {
    position: absolute;
    margin-left: 525px;
    margin-top: 15px;
}



html body #isolate * .itt_in_middel {
    width: 586px;
}

.block .countries {
    margin-left: 70px;
    height: 170px;
    width: 16px;
    position: relative;
}

.block .countries_bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ffffff;
    opacity: 0.4;
    z-index: -1;
}

.order_form_back {
    background-color: #fff;
    width: 541px;
    border-radius: 2px;
    border: 1px solid #000;
}

.rest_place {
    width: 335px;
    height: 150px;
    border: 1px solid #D7CBCB;
    border-radius: 2px;
}

.form_text {
    border: 1px solid #D7CBCB;
    border-radius: 20px;
}

html body #tour_search_module * .extended_package_search_form .frame_block {
    opacity: 0.85;
}


#tour_search_module .itt_main_background {
    background: rgba(255, 255, 255, 0.5) !important;
}

html body #tour_search_module * .extended_package_search_form .frame_block .itt_main_background {
    background: rgba(255, 255, 255, 0.5) !important;
}

check_cat {
    float: left;
}

.hot_tour {
    border-collapse: collapse;
    position: relative;
    float: left;
    width: 320px;
    height: 230px;
    border-radius: 10px;
    border: 1px solid #000;
    margin-left: 5px;
    margin-top: 20px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.5);
}

.country {
    border-collapse: collapse;
    position: relative;
    float: left;
    width: 230px;
    border-radius: 10px;
    border: 1px solid #000;
    margin-left: 70px;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.5);
}

.hot_tour td {
    vertical-align: top;
}

/*.hot_tour a {
    font: 12px Courier New;
    color: blue;
    text-decoration: none;
}*/
#top {
    background: url();
    top: 50px;
    cursor: pointer;
    display: none;
    font-size: 150%;
    position: fixed;
    left: 50px;
}

.hot_tour .description {
    font: 11px Arial;
    color: orange;
    float: left;
}

.hot_tour .price {
    position: absolute;
    margin-left: 20px;
    margin-top: 150px;
    font-size: 21px;
    font-weight: bold;
    color: #1a8900;
    border-bottom: 1px dotted #1a8900;
}

.description_width {
    width: 900px;
}

.highlight {
    display: block;
}

.contacts {
    color: blue;
    padding-top: 15px;
}

.hot_tour .dep_day {
    font-size: 75%;
    color: blue;
    font-family: Courier New bold;
}

.hot_tour .tour_type {
    font-size: 75%;
    color: #000083;
    font-family: Courier New bold;
}

.hot_tour .city {
    font-size: 75%;
    color: blue;
    font-family: Courier New bold;
}

.hot_tour .per_day {
    font-size: 75%;
    color: blue;
    font-family: Courier New bold;
}

.hot_tour .hotel {
    font-size: 75%;
    color: blue;
    font-family: Courier New bold;
}

.hot_tour .smth {
    font-size: 75%;
    color: blue;
    font-family: Courier New bold;
}

.hot_tour .location {
    font-size: 75%;
    color: red;
    font-family: Courier New bold;
}

#search {
    float: right;
    margin-right: 20px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.main_content {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.drops {
    padding-top: 20px;
    margin-left: 20px;
}

footer {
    height: 100px;
    margin-top: -100px;
}

.sss {
    position: relative;
    display: inline-block;
    font-family: Arial,Helvetica,FreeSans,"Liberation Sans","Nimbus Sans L",sans-serif;
    font-size: 1.5em;
    font-weight: 700;
    color: rgb(245,245,245);
    text-shadow: 0 -1px rgba(0,0,0,.1);
    text-decoration: none;
    user-select: none;
    padding: .3em 1em;
    outline: none;
    border: none;
    border-radius: 3px;
    background: #0c9c0d linear-gradient(#82d18d, #0c9c0d);
    box-shadow: inset #72de26 0 -1px 1px, inset 0 1px 1px #98ff98, #3caa3c 0 0 0 1px, rgba(0,0,0,.3) 0 2px 5px;
    -webkit-animation: pulsate 1.2s linear infinite;
    animation: pulsate 1.2s linear infinite;
}

    .sss:hover {
        -webkit-animation-play-state: paused;
        animation-play-state: paused;
        cursor: pointer;
    }

    .sss:active {
        top: 1px;
        color: #fff;
        text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;
        box-shadow: 0 -1px 3px rgba(0,0,0,.3), 0 1px 1px #fff, inset 0 1px 2px rgba(0,0,0,.8), inset 0 -1px 0 rgba(0,0,0,.05);
    }

@-webkit-keyframes pulsate {
    50% {
        color: #fff;
        text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;
    }
}

@keyframes pulsate {
    50% {
        color: #fff;
        text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;
    }
}

#tour {
}

.field-validation-error {
    color: red;
}

#callback {
    background: url(../Content/Images/phone.png) top left no-repeat;
    display: inline-block;
    width: 85px;
    height: 362px;
    bottom: 140px;
    right: 0px;
    position: fixed;
    z-index: 4;
    opacity: 0;
    cursor: pointer;
    transition: opacity 0.5s linear;
}

    #callback.visible {
        /* the button becomes visible */
        visibility: visible;
        opacity: 0.5;
    }

    #callback.fade-out {
        /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
        opacity: 1;
    }
/*#callback:hover {
    background: url(../images/phone.png) top left no-repeat;
}*/
#callback_panel {
    padding: 10px 20px;
    display: block;
    width: 260px;
    height: 380px;
    bottom: 180px;
    right: -300px;
    position: fixed;
    z-index: 4;
    /*background: url('../Content/Images/popup.png') repeat;*/
    background: url('../Content/Images/orangeBoxBlackBorder.gif') repeat;
}

    #callback_panel p.header {
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 24px;
        color: #3298da;
        text-align: center;
        margin: 10px 0 5px;
        text-transform: uppercase;
    }

    #callback_panel p.phone {
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 17px;
        color: #008c33;
        text-align: center;
        margin: 5px 0 5px;
        text-transform: uppercase;
        margin-left:65px;
    }

    #callback_panel p.text {
        color: #333333;
        font-size: 14px;
        text-align: center;
    }

    #callback_panel .logo {
        background: url(../images/callback.png) left center no-repeat;
        width: 225px;
        margin-left: -10px;
        position: relative;
        height: 110px;
        display: block;
        margin-top: 5px;
        margin-bottom: 5px;
    }

        #callback_panel .logo > span:first-of-type {
            position: absolute;
            right: 0px;
            top: 50px;
            font-size: 16px;
            font-weight: bold;
            color: #3298da;
            text-align: right;
        }

        #callback_panel .logo > span:last-of-type {
            position: absolute;
            right: 0px;
            top: 70px;
            font-size: 14px;
            color: #3298da;
            text-align: right;
        }


@media screen and (min-width: 768px) {
    .modal-dialog {
        left: 50%;
        right: auto;
        width: 624px;
    }
}

.modal-dialog {
    position: absolute;
    left: 50%;
   
    top: 50%;
    margin-top: -250px;
}
.order_form {
        margin-left: 50px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
.zeroFounds {
    position: absolute;
    font-size: 20px;
    color: red;
    /* margin-bottom: -12px; */
    margin: 0 auto;
    width: 50%;
    text-align: center;
    margin-top:150px;
}
.check_reservation {
    position: absolute;
    margin-top: 80px;
    margin-left: 800px;
}
.header .check_button {
    width: 206px;
    padding: 0 0 3px;
    background: url(http://lazy-tour.by/wp-content/themes/lazy_tour/img/order-link.png);
    color: #ffffff;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'PT Sans', sans-serif;
    text-shadow: 1px 1px 1px #000;
}
.header .check_reservation a {
    text-decoration: none;
}
.reservationNumber {
color:red;
}
.weather {
position:absolute;
left:50px;
margin-top:20px;
}

.ui-widget-content a {
color: blue !important;
}
.email {
    color:blue;
}
    .email a {
        color:blue;
    }
#hotel-table_wrapper {
margin-top:20px;
}
.button {
    color:white;
background-color:#F96828;
padding:10px;
border-radius:10px;
}
#hotel-table th {
    text-align:center;
}
#hotel-table td {
    text-align:center;
}
#hotel-table a {
    text-decoration:none;
}
#hotel-table a:hover {
    font-weight:bold;
    font-size:15px;
    color:white;
}