@model List<DataLayer.Feed>
@{

    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Все курорты</h1>
<table class="Grid">
    <tr>
        <th>ID</th>
        <th>Имя</th>

        <th>Actions</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>

            <td>@item.Name</td>

            <td>
                @using (Html.BeginForm("DeleteFeedback", "Admin"))
                {
                    @Html.Hidden("Id", item.Id)
                    <input type="submit" value="Delete" />
                }
            </td>

        </tr>
    }
</table>
<p>@Html.ActionLink("Главная страница", "Index", "Home")</p>

