@model DataLayer.Feedback

@{
    ViewBag.Title = "FeedbackDetails";
}

@{

    Layout = "~/Views/Shared/_DetailsLayout.cshtml";
}

<style>
    .de {
        margin-top: 20px;
        font-size: 16px;
        line-height: 20px;
        color: #4E4E4E;
        width:900px;
    }
    .name
    {
        font-size:20px;
    }
    </style>
<div class="content_background">

    <div id="album-details" style="margin-left: 20px;">
        
            <div class="name pull-left" >
                
                <em><strong>@Model.Name</strong></em>
                
            </div>
            <div class="pull-right">
                <p>
                    <em>Автор:</em>
                    <strong>@Model.Author</strong>
                </p>

            </div>
        <div style="clear:both"></div>
        <div class="de">
            
                @Model.Description
            </div>

    </div>
</div>